$drupal-menu-height: 30px;

#civicrm-usermenu-wrapper {
  background: $crm-white;
  border-bottom: 1px solid $crm-grayblue-dark;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  #civicrm-menu {
    border-bottom: 0;
    box-shadow: none;
    float: left;
    position: static !important;
    width: auto;
  }

  .civicrm-usermenu {
    float: right;
  }
}

.crm-menubar-hidden #civicrm-usermenu-wrapper {
  .civicrm-usermenu {
    display: none;
  }
}

.crm-menubar-below-cms-menu #civicrm-usermenu-wrapper {
  position: fixed;
  z-index: $zindex-navbar / 2;
}

.si-admin.crm-menubar-below-cms-menu #civicrm-usermenu-wrapper {
  top: $drupal-menu-height;
}

/* The Drupal menu is 40px tall so we add that to our menubar height */
body.page-civicrm.crm-menubar-visible.crm-menubar-below-cms-menu {
    padding-top: 40px !important;
}

body.si-admin.page-civicrm.crm-menubar-visible.crm-menubar-below-cms-menu {
    padding-top: 80px !important;
}
 